@model ShortenLinkViewModel
@{
    ViewData["Title"] = "Create short link";
}

<h1>Create short link</h1>

<form asp-controller="App" asp-action="ShortenLink" method="post">
    <div class="label-container">
        <label for="url">URL:</label>
    </div>
    @if (!Model.IsValid)
    {
        <div class="label-container invalid-url">
            URL is invalid.
        </div>
    }
    <div>
        <input type="text" id="url" name="url" class="url-input" value="@Model.Url" required />
    </div>

    <div>
        <button type="submit" class="shorten-url-button">Create</button>
    </div>
</form>