@{
    ViewData["Title"] = "Create short link";
}

<h1>Create short link</h1>

<form asp-controller="App" asp-action="ShortenLink" method="post">
    <div class="form-group">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>